.main__container{
    min-width: 100%;
    padding: 50px 40px 0 210px;
    display: flex;
    justify-content: space-between;
}
.info-block {
    width: 63%;
    max-height: 500px;
    background-color: #FFF;
    box-shadow: 0 4px 24px 0 rgba(34,41,47,.1);
    padding: 30px 0 30px 30px;
    color: black;
    border-radius: 15px;
    scrollbar-color:#303b44 grey ;
    scrollbar-width:thin ;
    overflow:scroll;
    overflow-x: auto;
    overflow-y: scroll;
}

.info-block > h2{
    color: grey;
    padding:0 0 30px 0 ;
}

.info-block > ul{
    list-style: inside;
    color: rgb(173, 163, 163);
    line-height: 20px;
}

.info-block > p{
    color: rgb(173, 163, 163);
    line-height: 25px;
}

.sidebar {
    width: 30%;
    max-height: 580px;
    background-color: #FFF;
    box-shadow: 0 4px 24px 0 rgba(34,41,47,.1);
    color: black;
    border-radius: 15px;
    scrollbar-color:#303b44 grey ;
    scrollbar-width:thin ;
    overflow:scroll;
    overflow-x: auto;
    overflow-y: scroll;
    
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 90px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Slackside One', cursive;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {

    background-color: white;
    display: none;
    overflow: hidden;
}

.panel > div{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid grey;
    background-color: #FFF;
    padding: 17px 0 0 20px;
}

.h1{
    color: rgb(189, 174, 174);
}

div > h5{
    color: rgb(77, 4, 4);
    padding: 0 0 9px 0;
}

div > p{
    font-size: 15px;
}



a{
    color: black;
}
.logo__link{
    color: #fff;
}