.wrapper {
  max-width: 800px;
}

.post {
  position: relative;
  margin: 20px 0;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.post__profile {
  color: #111;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 17px;
}
.post__title {
  color: #548eaa;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 23px;
}
.post__image {
  width: 100%;
  height: 100%;
  margin: 15px 0;
}
.post__btn {
  margin-top: 18px;
}
.post__text {
  display: flex;
  flex-direction: column;
}
.post box-icon {
  fill: #303b44;
  margin-top: 30px;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
}
.post box-icon.active {
  transform: scale(1.2);
  fill: red;
  pointer-events: none;
}
.post box-icon[name=x] {
  position: absolute;
  top: 0;
  right: 10px;
  transition: 0.3s ease;
}
.post box-icon[name=x]:hover {
  transform: rotate(180deg);
}

.favorite-title {
  margin-top: 15px;
  color: #303b44;
  position: relative;
  animation: left 0.3s 1 ease;
}
@keyframes left {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

span {
  margin-top: 24px;
}