@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
.wrapper{
    padding: 40px 0;
    display: flex;
    gap: 30px;
    position: relative;

    .title-profile{
        position:absolute;
        left: 0;
        font-family: 'Jost', sans-serif;
        top: 0;
        color:#000000;
        font-size: 28px;
    }

    .sidebar{
        padding: 15px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        margin-top: 15px;
        width: 30%;
        background-color: #162b36;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 0px;
        font-family: 'Jost', sans-serif;
       color: #fff;

        &__avatar{
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }
        &__change-file{
            transition: .3s ease;
            color: #fff;
            &:hover{
                color: #d1dce1;
            }
        }
        &__about-title{
            margin: 5px 0 5px 0;
            font-weight: 200;
            cursor: pointer;
            transition: .3s ease;
            color: #fff;
            &:hover{
                color: #d1dce1;
            }
        }
        &__about-me{
            padding: 0 23px;
            width: 310px;
            text-align: center;
        }

    }
    .about-user{
        padding: 25px 15px;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        margin-top: 15px;
        width: 60%;
        background-color: #ffffff;
        color: #2b2b2b;
        font-family: 'Jost', sans-serif;

        &__title{
            margin: 9px 0 6px 0;
            font-weight: 500;
        }

        &__data-txt{
            font-weight: 300;
        }

        &__text{
            margin-top: 17px;
            color: #000000;
            width: 100%;
            height: 35vh;
            padding: 15px 20px;
            background: transparent;
            border: 1px solid #000000;
            box-shadow:inset 0 0 20px rgba(255,255,255,.4);
        
            &::placeholder{
                color: #939393;
            }
        }
    }
}